.users img {
  width: 50px;
  border-radius: 50%;
}

.table th, .table td {
  vertical-align: middle !important;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}